* {
    margin: 0;
    padding: 0;
}

:root {
    --relative-size: 65vh;
    --relative-font: 16pt;
}

@media screen and (orientation:portrait){
    :root {
        --relative-size: 90vw;
        --relative-font: 36pt;
    }
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: var(--relative-font);
    background-color: #555;
}

#flex-wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calculator {
    display: flex;
    width: var(--relative-size);
    padding: 5px;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
    border-radius: 5px;
}

#button-grid{
    width: 100%;
    height: var(--relative-size);
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        "mrc    mminus  mplus   perc    divide"
        "neg    seven   eight   nine    times"
        "c      four    five    six     minus"
        "ac     one     two     three   plus"
        "off    zero    dec     eq      plus";
    border-top: 1px solid gray;
    padding-top: 5px;
}

#marketing {
    height: calc(var(--relative-size)/12);
    width: var(--relative-size);
    padding: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;

    text-transform: uppercase;
    text-align: center;
}

#brand {
    width: 25%;
}

#solar {
    width: 50%;
    height: 90%;
    margin: 10px;
    background-color: #6e6a5f;
    border: 1px solid darkgray;
    border-radius: 10px;
}

#product {
    width: 25%;
    font-size: .8em;
}

#slogan {
    font-size: .6em;
}

#display {
    width: 90%;
    height: calc(var(--relative-size)/6);
    margin: 10px 0px;
    padding: 0px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: gray;
    border: 10px solid darkgray;
    border-radius: 5px;
    

    text-align: right;
    font-size: 2em;
}

button {
    margin: 2px;
    border: 3px solid gray;
    border-radius: 15px;
    color: white;
    font-size: 1em;
    transition: 0.3s;
}

button:hover {
    border-color: white;
}

.button-click {
    scale: 0.9;
    transition: 0.1s;
}

.operator, .operand {
    background-color: #09161e;
}

.onoff {
    background-color: #8f4566;
}

.number {
    background-color: #485566;
}

.control {
    background-color: orchid;
}

#neg {
    grid-area: neg;
}

#clear {
    grid-area: c;
}

#ac {
    grid-area: ac;
}

#off {
    grid-area: off;
}

#mrc {
    grid-area: mrc;
}

#mminus {
    grid-area: mminus;
}

#mplus {
    grid-area: mplus;
}

#percent {
    grid-area: perc;
}

#plus {
    grid-area: plus;
}

#minus {
    grid-area: minus;
}

#times {
    grid-area: times;
}

#divide {
    grid-area: divide;
}

#eq {
    grid-area: eq;
}

#dec {
    grid-area: dec;
}

#zero {
    grid-area: zero;
}

#one {
    grid-area: one;
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}